**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/*.userosscache
**/*.suo
**/*.sln.docstates
**/[Tt]est[Rr]esults
**/[Dd]ebug
**/[Rr]elease
**/.nuget
**/packages
*.md
*.docx
*.sql
Dockerfile*
docker-compose*
.dockerignore
